<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
    city <%= text_field_tag :city, params[:city] %>
    <%= submit_tag "Search" %>
<% end %>

<% if @places %>
    <table>
      <thead>
      <% Place.rendered_fields.each do |f| %>
          <td><%=f %></td>
      <% end %>
      </thead>
      <% @places.each do |place| %>
          <tr>
            <% Place.rendered_fields.each do |f| %>
                <td><%= place.send(f) %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>


<!--<p id="notice"><%= notice %></p>

<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>-->
